.login{
    margin-top: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    height: 600px;
    right: 5%;
}
.container-1 {
    height: 500px;
    width: 400px;
    background-color: #d495ee;
    position: absolute;
    z-index: 2;
    border-radius: 10%;
    
}
.signin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
}
.p-login{
    font-size: 50px;
    font-weight: 900;
}
.signin input{
    width: 80%;
    border-radius: 20px;
    border-style: none;
}
.btn-signin{
    border-radius: 10%;
    border-style: none;
    width: 100px;
    height: 50px;
    background-color: #460B60;
    color:white;
    font-weight: 800px;
    font-size: 20px;
    margin-top: 10px;
}
.container-2 {
    height: 350px;
    width: 900px;
    background-color: #460B60;
    position: absolute;
    margin-top: 75px;
    left: 35%;
    z-index: 1;
    border-radius:5%;
}
.signup {
    display: flex;
    justify-content: end;
    margin-top:130px ;
    margin-right: 100px;
}
.signflex{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.p-signup {
    font-size: 20px;
}
.btn-signup {
    border-radius: 10%;
    border-style: none;
    width: 100px;
    height: 50px;
    background-color: #d495ee;
    color:white;
    font-weight: 800px;
    font-size: 20px;
}
@media (max-width: 768px) {

    .login {
        margin-top: 120px;
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;
        height: auto; 
        flex-direction: column;
        align-items: center;
    }

    .container-1 {
        height: auto;
        width: 90%;
        background-color: #d495ee;
        border-radius: 10%;
        position: relative;
        padding: 20px;
        z-index: 2;
    }

    .container-2 {
        height: auto;
        width: 60%;
        background-color: #460B60;
        border-radius: 5%;
        margin-top: 20px;
        padding: 20px;

        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .signup {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .signflex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .p-signup {
        font-size: 18px;
        text-align: center;
    }

    .btn-signup {
        border-radius: 10%;
        border-style: none;
        width: 120px;
        height: 50px;
        background-color: #d495ee;
        color: white;
        font-weight: 800;
        font-size: 18px;
    }
}